<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/"><span style="color:red">Ya</span>tube</a>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
            Пользователь: {{ user.username }}.
            <a class="p-2 text-dark" href="{% url 'posts:new_post' %}">Новая пост</a>
            <a class="p-2 text-dark" href="{% url 'posts:group_new_url' %}">Новая группа</a>
            <a class="p-2 text-dark" href="{% url 'users:password_reset_form' %}">Изменить пароль</a>
            <a class="p-2 text-dark" href="{% url 'users:logout' %}">Выйти</a>
        {% else %}
            <a class="p-2 text-dark" href="{% url 'users:login' %}">Войти</a> |
            <a class="p-2 text-dark" href="{% url 'users:signup' %}">Регистрация</a>
        {% endif %}
    </nav>
</nav>